{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} invoice {% endblock title %}

{% block content %}

<hr>
<div class="content">

  <div class="row">
    <div class="col-md-6">
      <h5>Invoice Number: {{company.uid}}</h5>
      <h5>Invoice date: {{company.invoice_date}}</h5>
      <h5>Balance Due: {{company.balance_due }}</h5>
    </div>
    <div class="col-md-6">
      <h5>Company Name: {{company.company_name}}</h5>
      <h5>address: {{company.address}}</h5>
    </div>
  </div>
</div>
<hr>

{% endblock content%}